<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="|#{recetario} - Index|"></title>
</head>

<body>
	<div id="content">
		<h1>Página principal</h1>
		<p>Página principal del recetario. Pública. Con lista de recetas.</p>
		
		<div class="card-group">
			<th:block th:each="receta : ${recetas}" 
				th:insert="~{fragments/recetas :: recetaTarjeta(${receta}, false)}">
			</th:block>
		</div>
	</div>
</body>

</html>