<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- <span th:fragment="fotoInput(nombreInput, nombreCampo, ancho, urlImagen)">
		<div style="max-width: __${ancho}__;">
			<label for="__${nombreInput}__" class="form-label">
				<img id="imgFoto" class="img-fluid rounded" style="width: __${ancho}__;" th:src="${urlImagen}">
			</label>
			<input type="file" class="form-control" name="__${nombreInput}__" id="__${nombreInput}__" accept="image/png, image/jpg, image/jpeg">
			<span th:if="${#fields.hasErrors('__${nombreCampo}__')}" th:errors="*{__${nombreCampo}__}"></span>
			<script>
				$(function() {
					$('#imgFoto').click(function() {
						$("#__${nombreInput}__").trigger("click");
					});
				});
			</script>
		</div>
	</span> -->
</body>

</html>