<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="recetaTarjeta(receta, editable)" th:object="${receta}" class="card m-3">
		<img th:src="@{/foto/receta/__*{id}__}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title" th:text="*{nombre}">Card title</h5>
			<p class="card-text" th:text="*{descripcion}"></p>
			<a th:href="@{/receta/__*{id}__}" class="btn btn-primary">Ver</a>
			<a th:if="${editable}" th:href="@{/receta/__*{id}__/edit}" class="btn btn-primary">Editar</a>
			<a th:if="${editable}" th:href="@{/receta/__*{id}__/ingredientes}" class="btn btn-primary">Ingredientes</a>
			<a th:if="${editable}" th:href="@{/receta/__*{id}__/pasos}" class="btn btn-primary">Pasos</a>
		</div>
	</div>

	<a th:fragment="ingrediente(ingrediente)" th:object="${ingrediente}" 
		class="list-group-item list-group-item-action"
		th:text="*{nombre}" th:href="@{/ingrediente/__*{id}__}">
	</a>

	<ul th:fragment="listaIngredientes(ingredientes, editable)">
		<li th:each="ingRec : ${ingredientes}">
			<span th:replace="~{:: ingredienteFormateado(${ingRec.cantidad}, ${ingRec.ingrediente})}"></span>
			<form th:if="${editable}" th:action="@{/receta/ingrediente/delete}" method="post" class="form-inline">
				<input type="hidden" name="recetaId" th:value="${ingRec.receta.id}">
				<input type="hidden" name="ingredienteId" th:value="${ingRec.ingrediente.id}">
				<button type="submit" class="btn btn-danger">Eliminar</button>
			</form>
		</li>
	</ul>

	<span th:fragment="ingredienteFormateado(cantidad, ingrediente)">
		<th:block th:text="|${ingRec.ingrediente.nombre}, ${cantidad} #{ingrediente.tipoCantidad.__${ingrediente.tipoCantidad}__}|"></th:block>
	</span>

</body>

</html>