<!DOCTYPE html>
<html th:replace="~{/fragments/layout :: layout(~{::title}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="|#{recetario} - Index|"></title>
</head>

<body>
	<div id="content">
		<h1>Página principal</h1>
		<p>Página principal del recetario. Pública. Con lista de recetas.</p>
		<a th:href="@{/login}">Login</a>
		<ul>
			<th:block th:each="receta : ${recetas}">
				<li th:insert="~{fragments/receta :: receta (${receta})}"></li>
			</th:block>
		</ul>
	</div>
</body>

</html>