<!DOCTYPE html>
<html th:replace="~{/fragments/layout :: layout(~{::title}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="|#{recetario} - #{receta.p}|"></title>
</head>

<body>
	<div id="content">
		<h1>Lista de recetas</h1>
		<div class="text-center">
			<a class="btn btn-success" th:href="@{/receta/new}" th:text="#{common.txt.create(#{receta})}"></a>
		</div>

		<div class="card-group">
			<th:block th:each="receta : ${recetas}" 
				th:insert="~{fragments/recetas :: receta(${receta}, true)}">
			</th:block>
		</div>
	</div>
</body>

</html>